* {
  margin: 0;
}

header {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}

header a {
  position: absolute;
  left: 10%;
  text-decoration: none;
}

header i {
  color: black;
  font-size: 20px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
@media (min-width: 64em) {
  img {
    height: 364px;
  }
}

#main_content {
  position: relative;
  top: -38px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: -38px;
  padding-bottom: 3rem;
}

#main_content h1 {
  margin-top: 2rem;
  letter-spacing: 2px;
  font-size: 24px;
}

.card_logo {
  display: relative;
  margin-top: 2.3rem;
}

.card_logo i {
  margin-right: 1rem;
  font-size: 28px;
}

.icon-unlock {
  opacity: 0.5;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}

.lock:hover .icon-lock {
  display: inline;
  color: #9356DC;
}

#title_main {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 64em) {
  #title_main {
    justify-content: center;
  }
  #title_main .card_logo {
    margin-left: 2rem;
  }
}

.title_menu h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 3px solid lightgreen;
  width: 10%;
}

#plat_content,
#dessert_content,
#entree_content {
  margin: 1.5rem 1rem 0rem 1rem;
}
@media (min-width: 64em) {
  #plat_content,
#dessert_content,
#entree_content {
    width: 33%;
  }
}

.card-1 {
  animation: card_pop 1s ease-in-out;
}

.card-2 {
  animation: card_pop 2s ease-in-out;
}

.card-3 {
  animation: card_pop 3s ease-in-out;
}

.card-4 {
  animation: card_pop 4s ease-in-out;
}

.card-5 {
  animation: card_pop 5s ease-in-out;
}

.card-6 {
  animation: card_pop 6s ease-in-out;
}

.card-7 {
  animation: card_pop 7s ease-in-out;
}

.card-8 {
  animation: card_pop 8s ease-in-out;
}

.card-9 {
  animation: card_pop 9s ease-in-out;
}

.card-10 {
  animation: card_pop 10s ease-in-out;
}

.card-11 {
  animation: card_pop 11s ease-in-out;
}

.card-12 {
  animation: card_pop 12s ease-in-out;
}

.card-13 {
  animation: card_pop 13s ease-in-out;
}

.card-14 {
  animation: card_pop 14s ease-in-out;
}

.card-15 {
  animation: card_pop 15s ease-in-out;
}

.card-16 {
  animation: card_pop 16s ease-in-out;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 15px;
  padding: 0px 0px 0px 10px;
  width: 90%;
  margin: 20px auto 10px auto;
  overflow: hidden;
}
.card:hover > .card_menu, .card:active > .card_menu {
  max-width: 70%;
}
.card:hover > .card_anim, .card:active > .card_anim {
  margin-right: 0rem;
}
.card:active > .card_anim i, .card:hover > .card_anim i {
  transform: rotate(0);
}

.card_menu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: inherit;
  transition: max-width 1s linear 2.5s;
  -webkit-transition: max-width 1s linear 0.5s;
}

.card_menu_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card_menu_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.card_menu h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.card_menu span {
  font-weight: bold;
}

#ButtonDescription {
  margin-top: 2rem;
  width: 30%;
  display: inline-block;
  border: 1px transparent #FF79DA;
  background-color: #9356DC;
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 16px #0000002e;
  align-self: center;
  text-align: center;
}
@media (min-width: 64em) {
  #ButtonDescription {
    width: 10%;
  }
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
footer a {
  color: white;
  text-decoration: none;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 2rem 0 1rem 1rem;
}
footer ul {
  font-family: "Roboto", sans-serif;
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-style: normal;
}
footer i {
  margin-right: 0.5rem;
  font-size: 16px;
}
footer li {
  margin-bottom: 0.5rem;
}
@media (min-width: 48em) {
  footer {
    align-items: center;
  }
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  footer h2 {
    font-size: 30px;
  }
}

.checkanim {
  background: lightgreen;
  height: 100%;
}

.card_anim {
  display: flex;
  background-color: #99e2d0;
  min-height: 78px;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  width: 4rem;
  justify-content: center;
  color: white;
  margin: -1rem -8rem -1rem 1rem;
  transition-duration: 0.5s;
}
.card_anim:hover, .card_anim:active {
  margin-right: 0rem;
}
.card_anim i {
  transform: rotate(180deg);
  transition-duration: 1s;
}

@media (min-width: 64em) {
  #resto_content {
    display: flex;
    justify-content: space-evenly;
  }
}

@keyframes card_pop {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart-container {
  position: relative;
  width: 40px;
  height: 40px;
  top: 1.8rem;
  right: 1rem;
}
@media (min-width: 64em) {
  .heart-container {
    top: 1.8rem;
    left: 1rem;
  }
}

.heart-clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  clip-path: url(#svgPath);
}
.heart-clip:hover::before {
  transform: scale(1);
  opacity: 1;
}
.heart-clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9356DC;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
}

.heart-stroke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: #9356DC;
}

/*# sourceMappingURL=menu.css.map */
