$primary_color: #9356DC;
$secondary_color: #FF79DA;
$third_color: #99E2D0;
$font-family: 'Roboto',
sans-serif;
$logo-font: 'Shrikhand',
cursive;
$variable: 0;

@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content ;
        }
    }

    @else if $point==laptop {
        @media (min-width: 64em) {
            @content ;
        }
    }

    @else if $point==tablet {
        @media (min-width: 48em) {
            @content ;
        }
    }

    @else if $point==phablet {
        @media (min-width: 37.5em) {
            @content ;
        }
    }

    @else if $point==mobileonly {
        @media (max-width: 37.5em) {
            @content ;
        }

    }
}

* {
    margin: 0;
}

header {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1 {
    font-family: $logo-font;
    letter-spacing: 1px;
}

header a {
    position: absolute;
    left: 10%;
    text-decoration: none;
}

header i {
    color: black;
    font-size: 20px;
}

img {
    width: 100%;
    object-fit: cover;
    height: 200px;

    @include breakpoint(laptop) {
        height: 364px;
    }
}

#main_content {
    position: relative;
    top: -38px;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    background-color: rgba(246, 246, 246, 255);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: -38px;
    padding-bottom: 3rem;
}

#main_content h1 {
    margin-top: 2rem;
    letter-spacing: 2px;
    font-size: 24px;
}

.card_logo {
    display: relative;
    margin-top: 2.3rem;
}

.card_logo i {
    margin-right: 1rem;
    font-size: 28px;
}

.icon-unlock {
    opacity: 0.5
}

.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}

.lock:hover .icon-lock {
    display: inline;
    color: $primary_color;
}

#title_main {
    display: flex;
    justify-content: space-around;

    @include breakpoint(laptop) {
        justify-content: center;

        .card_logo {
            margin-left: 2rem;
        }
    }
}

.title_menu h2 {
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 3px solid lightgreen;
    width: 10%;
}

#plat_content,
#dessert_content,
#entree_content {
    margin: 1.5rem 1rem 0rem 1rem;

    @include breakpoint(laptop) {
        width: 33%;
    }
}

@for $i from 1 through 16 {
    .card-#{$i} {
        animation: card_pop #{$i}s ease-in-out;
    }
}



.card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
    width: 90%;
    margin: 20px auto 10px auto;
    overflow: hidden;


    &:hover>.card_menu,
    &:active>.card_menu {
        max-width: 70%;
    }

    &:hover>.card_anim,
    &:active>.card_anim {
        margin-right: 0rem;
    }

    &:active>.card_anim i,
    &:hover>.card_anim i {
        transform: rotate(0);
    }

}


.card_menu {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: inherit;
    transition: max-width 1s linear 2.5s;
    -webkit-transition: max-width 1s linear .5s;
}

.card_menu_description p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card_menu_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-family;
}

.card_menu h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.card_menu span {
    font-weight: bold;
}

#ButtonDescription {
    margin-top: 2rem;
    width: 30%;
    display: inline-block;
    border: 1px transparent $secondary_color;
    background-color: $primary_color;
    background-image:
        linear-gradient(to right, $secondary_color, $primary_color);
    border-radius: 25px;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 16px #0000002e;
    align-self: center;
    text-align: center;

    @include breakpoint(laptop) {
        width: 10%;
    }
}

footer {
    background-color: rgba(53, 53, 53, 255);
    color: white;
    display: flex;
    flex-direction: column;

    a {
        color: white;
        text-decoration: none;
    }

    h2 {
        font-family: $logo-font;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 2rem 0 1rem 1rem;
    }

    ul {
        font-family: $font-family;
        list-style: none;
        padding: 0;
        margin-left: 1rem;
        margin-bottom: 2rem;
        font-style: normal;
    }

    i {
        margin-right: 0.5rem;
        font-size: 16px;
    }

    li {
        margin-bottom: 0.5rem;
    }


    @include breakpoint(tablet) {
        align-items: center;

        ul {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin-top: 20px;
        }

        h2 {
            font-size: 30px;
        }
    }
}


.checkanim {
    background: lightgreen;
    height: 100%;
}

.card_anim {
    display: flex;
    background-color: #99e2d0;
    min-height: 78px;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    width: 4rem;
    justify-content: center;
    color: white;
    margin: -1rem -8rem -1rem 1rem;
    transition-duration: .5s;

    &:hover,
    &:active {
        margin-right: 0rem;
    }

    i {
        transform: rotate(180deg);
        transition-duration: 1s;
    }
}

#resto_content {
    @include breakpoint(laptop) {
        display: flex;
        justify-content: space-evenly;
    }
}

@keyframes card_pop {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.heart-container {
    position: relative;
    width: 40px;
    height: 40px;
    top: 1.8rem;
    right: 1rem;

    @include breakpoint(laptop) {
        top: 1.8rem;
        left: 1rem;
    }
}

.heart-clip {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    clip-path: url(#svgPath);

    &:hover {
        &::before {
            transform: scale(1);
            opacity: 1;
        }
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $primary_color;
        opacity: 0;
        transform: scale(0);
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform-origin: center 60%;
    }
}

.heart-stroke {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: black;
}