/* Primary Colors*/
* {
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px transparent black;
  -webkit-box-shadow: inset -16px -31px 15px -30px rgba(0, 0, 0, 0.35);
  box-shadow: inset -16px -31px 15px -30px rgba(0, 0, 0, 0.35);
}
header img {
  margin-bottom: 20px;
  margin-top: 20px;
}

#wait {
  opacity: 0.3;
  animation: 3s opacityA 3s forwards;
}

@keyframes opacityA {
  to {
    opacity: 1;
  }
}
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  -webkit-animation: spin 2s linear infinite, cssAnimation 0s ease-out 3s forwards;
  animation: spin 2s linear infinite, cssAnimation 0s ease-out 3s forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    display: none;
    border: none;
    position: absolute;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    border: none;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#subheader {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px 0px 20px 0px;
}
#subheader span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-right: 3rem;
}
#subheader span i {
  margin-right: 10px;
}

#Description {
  background-color: #f6f6f6;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
#Description h1 {
  font-size: 24px;
  width: 70%;
  font-weight: 800;
  text-align: center;
}
#Description p {
  color: grey;
  margin-top: 1rem;
  font-size: 16px;
  width: 80%;
  text-align: center;
  font-weight: 400;
}
#Description #ButtonDescription {
  margin-top: 2rem;
  display: inline-block;
  border: 1px transparent #FF79DA;
  background-color: #9356DC;
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 16px #0000002e;
}
@media (min-width: 64em) {
  #Description p {
    margin-top: 2rem;
  }
  #Description #ButtonDescription {
    margin-top: 2rem;
  }
  #Description h1 {
    width: 13%;
  }
}

#Fonctionnement {
  margin: 2rem 1rem 4rem 1rem;
}
#Fonctionnement h1 {
  font-family: "Roboto", sans-serif;
}
#Fonctionnement ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
#Fonctionnement i {
  font-size: 20px;
}
#Fonctionnement span {
  border: 1px solid white;
  border-radius: 40px;
  background: #f6f6f6;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 0 0 16px #0000002e;
  min-width: 72%;
}
#Fonctionnement span:hover {
  background-color: #f5edff;
}
#Fonctionnement span:hover .fas {
  color: #9356DC;
  opacity: 1;
}
#Fonctionnement li {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
#Fonctionnement i {
  opacity: 0.5;
  margin-right: 20px;
  margin-left: 10px;
}
#Fonctionnement p {
  position: absolute;
  left: 42px;
  border: 1px solid #9356DC;
  padding: 3px 8px 3px 8px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
@media (min-width: 48em) {
  #Fonctionnement ul {
    padding: 0;
  }
  #Fonctionnement p {
    left: 73px;
  }
  #Fonctionnement li {
    justify-content: center;
  }
}
@media (min-width: 64em) {
  #Fonctionnement h1 {
    text-align: center;
  }
  #Fonctionnement ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #Fonctionnement p {
    position: relative;
    left: 17px;
  }
}

@media (min-width: 64em) {
  #Restaurant_cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    margin-top: 5rem;
  }
}

#Restaurant {
  background-color: #f6f6f6;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}
#Restaurant h1 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 1rem 1rem;
}
@media (min-width: 64em) {
  #Restaurant {
    align-items: center;
  }
}

.card_text {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 5px 10px;
  font: "Roboto", sans-serif;
}
.card_text h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 5px;
}
.card_text p {
  font-size: 20px;
  opacity: 0.8;
}

.card_logo {
  display: relative;
}

.card_logo i {
  margin-right: 1rem;
  font-size: 28px;
}

.icon-unlock {
  opacity: 0.5;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}

.lock:hover .icon-lock {
  display: inline;
  color: #9356DC;
}

.Restaurant_card {
  margin-bottom: 2rem;
}
.Restaurant_card a {
  text-decoration: none;
  color: black;
  position: relative;
  display: block;
}
.Restaurant_card figcaption {
  display: inline-flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  justify-content: space-between;
}
.Restaurant_card figure {
  background-color: white;
  width: 90%;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 25px 25px 25px 25px;
  margin-left: 5%;
}
.Restaurant_card figure .new {
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 20px;
  right: 15px;
}
.Restaurant_card img {
  object-fit: cover;
  width: 100%;
  max-height: 227px;
  border-radius: 25px 25px 0 0;
}
@media (min-width: 64em) {
  .Restaurant_card {
    width: 522px;
  }
  .Restaurant_card figure {
    width: 100%;
  }
  .Restaurant_card figure .new {
    background-color: #99e2d0;
    color: #008766;
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 20px;
    right: 15px;
  }
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
footer a {
  color: white;
  text-decoration: none;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 2rem 0 1rem 1rem;
}
footer ul {
  font-family: "Roboto", sans-serif;
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-style: normal;
}
footer i {
  margin-right: 0.5rem;
  font-size: 16px;
}
footer li {
  margin-bottom: 0.5rem;
}
@media (min-width: 48em) {
  footer {
    align-items: center;
  }
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  footer h2 {
    font-size: 30px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container {
  position: relative;
  width: 40px;
  height: 40px;
  right: 1rem;
}

.heart-clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  clip-path: url(#svgPath);
}
.heart-clip:hover::before {
  transform: scale(1);
  opacity: 1;
}
.heart-clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9356DC;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
}

.heart-stroke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: black;
}

/*# sourceMappingURL=style.css.map */
